/* src/components/Board.css */
.main{
  background-color:  rgb(228, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;  
  padding-right: 70px;
}
.board {
  max-width: fit-content;
  max-height: fit-content;
  font-family: Roboto, Arial;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100px;
}
.elevators-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  
  align-items: flex-end;
  padding-bottom: 10px;
  padding-left: 20px ;
  padding-right: 33px;
  margin-left: 35px;
  background-color: aqua;
}



  





