/* Floor styles */
.floor {
  display: flex;
  align-items: center;
  z-index: 200;
  gap: 10px;
}

.floor-number {
  width: 100px;
  font-weight: 1000;
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

.floor-squares {
  display: flex;
  flex: 1;
  margin-right: 3px;
}

.floor-squares .square {
  width: 85px;
  height: 47px;
  border: none;
  background-color: white;
  border: 0.1px solid rgb(228, 225, 225);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  padding-left: 14px;
  padding-bottom: 10px;
}
.elevator-button-waiting,
.elevator-button-call,
.elevator-button-arrived {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
  font-size: 10px;
  height: 23px;
  width: 62px;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  transition: background-color 0.15s;
  color: white; 
}

.elevator-button-waiting:not(:disabled):hover,
.elevator-button-call:not(:disabled):hover,
.elevator-button-arrived:not(:disabled):hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.elevator-button-waiting {
  background-color: rgb(237,72,77);
}

.elevator-button-call {
  background-color: rgb(92,205,136);
}

.elevator-button-arrived {
  font-weight: bold;
  background-color: rgb(218, 214, 214);
  color: rgb(92,205,136);
  border: 1px solid  rgb(92,205,136);
}
